# Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# Unity Library (büyük dosyalar)
unityLibrary/
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/[Pp]rojectSettings/[Pp]hysics2DSettings.asset
/[Ss]treamingAssets/aa.meta
/[Ss]treamingAssets/aa/*

# Visual Studio / Rider
/[Ee]xported[Oo]bj/
.vs/
.idea/
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Gradle
.gradle/
build/
/gradle/
/gradlew
/gradlew.bat
local.properties
gradle.zip

# Android
*.apk
*.aab
*.ap_
*.dex
/captures/
.cxx/
app/build/
app/release/

# Other
.DS_Store
/gradle.zip
!/gradle/wrapper/gradle-wrapper.jar

# Log files
*.log

# Large files
*.so
*.dll
*.dylib 